* {
  font-family: "Syne";
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;

  --black: #040404;
  --lightgray: #f2f1f2;
  --purple: #95a1f9;

  color: var(--lightgray);
}

.container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 3fr 1fr;

  justify-items: center;

  align-items: center;
}

.header {
  width: 100%;
  grid-row: 1;
  background-color: var(--black);

  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  /* padding: 10px; */

  justify-items: start;
}

.logo {
  color: white;
  font-size: 32px;
  font-weight: 300;
  padding: 10px;
}

.logo span {
  font-weight: 700;
}

.header nav {
  grid-column: 3;
  color: var(--lightgray);

  width: 100%;

  display: grid;
  align-items: center;
}

.header nav ul {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  /* background-color: red; */
}

.header nav a:first-child {
  color: white;
  grid-column: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav a:first-child:hover,
.header nav a:last-child:hover {
  background-color: var(--purple);
  /* border: 2px solid var(--purple); */
}
.header nav a:last-child {
  color: white;
  grid-column: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-home {
  grid-row: 2;
  background-color: var(--lightgray);

  max-width: 75%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;

  padding: 10px;
}

.main-home img {
  width: 200px;
}

.main-projects {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr;

  background-color: var(--black);
}

.main-title {
  display: grid;
  align-items: center;
  padding: 10px;
  grid-template-columns: 1fr 0.5fr 1fr;
  justify-items: center;
}
.main-title:first-child {
  justify-items: start;
}

.main-title a {
  grid-column: 3;

  background-color: var(--black);
  color: var(--lightgray);
  border: 2px solid var(--purple);
  font-weight: 700;
  width: 50%;
  padding: 10px 4px 10px 5px;
  border-radius: 10px;
}

button {
  color: var(--lightgray);
  background-color: inherit;
  border: none;
  font-weight: 700;
  /* justify-items: center; */
  cursor: pointer;
}

.main-title a:hover {
  cursor: pointer;
}

.projects-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.projects-container .project-content img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.projects-container .project-content img:hover {
  scale: 1.1;
  transition: scale 0.25s ease-out;
  cursor: pointer;
}
.project {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.project-title img {
  width: 20px;
}

.footer {
  grid-row: 3;
  background-color: var(--black);

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  color: var(--purple);
  padding: 10px;
}

.footer .contact {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .contact img {
  width: 40px;
}

.footer .contact .phone,
.email {
  display: flex;
  align-items: center;
}
.footer .footer-image {
  grid-column: 2;
}
.footer-image img {
  width: 400px;
}
